.card-group{
    margin-top: 2%;
    justify-content: center;
  }
  
  .card{
    max-width: 250px;
    margin-right: 2%;
  }
  
  .carousel_manual{
    z-index: -1;
  }
  
  .products_container{
    z-index: 1;
  }
  
  .img_card{
    padding-top: 10%;
    align-self: center;
    height: 70%;
    width: 70%;
  }
  
  .btn{
    margin-left: 23%;
  }
  
  .view{
    background-color: whitesmoke;
  }
  .view_button{
    /* margin-top: 350% !important; */
    position: absolute;
    top: 50%;
  }
  